@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .header {
    width: 360px;
    height: 33px;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
    padding: 0.1em;
    font-family: var(--montserrat);
  }

  .header__list {
    display: flex;
    margin-left: 1em;
  }
}
